<div class="row footer no-gutters" id="footer_height" data-role="footer">
  <div class="cell-md-12" >
      <ul id="footerOptions">
        <div class="">
          <li class="cell-xs-6 cell-sm-6 cell-md-3 cell-lg-3 "><a class=""  href="/contact_form.html" target="_self">Contact me</a></li>
        </div>

        <div class="">
          <li class="cell-xs-6 cell-sm-6 cell-md-3 cell-lg-3"><a class=""  href="/blogfront.html" target="_self">Blog</a></li>
        </div>

        <div class="">
          <li class="cell-xs-6 cell-sm-6 cell-md-3 cell-lg-3"><a class="" href="/collections.html" target="_self">Collections</a></li>
        </div>
        <div class="">
          <li class="cell-xs-6 cell-sm-6 cell-md-3 cell-lg-3"><a class="" data-slide="slide" data-target="#social_icons"  href="#">Social</a>
          </li>
        </div>
      </ul>
  </div>
<div class="cell-xs-12 cell-sm-12 cell-lg-12 faso_link">
  <h5>Artist Website by <a href="http://www.faso.com"> Fine Art Sudio Online</a></h5>
</div>
</div>
<!-- /END OF FOOTER -->
