<div class="slide-panel-parent">
    <div class="slide-panel" id="navigation-panel">
    <div class="container">
      <div class="row">
        <div class="cell-md-12 close_panel_container">
          <i class="fa fa-remove fa-2x close " id="color_rbutton" data-slide="slide"></i>
        </div>
      </div>
      <div class="row">

        <div class="cell-md-6 cell-lg-8">
          <nav id="nav" role="navigation">
            <ul id="menuOptions">
              <li><a href="/about.html" target="_self">About the artist</a></li>
              <li><a href="articles.html" target="_self">Articles</a></li>
              <li><a href="/en.html" target="_self">Newsletter</a></li>
              <li><a href="/contact_form.html" target="_self">Contact </a></li>
              <li><a href="/galleries.html" target="_self">Galleries</a></li>
              <li><a href="/blogfront.html" target="_self">Blog</a></li>
              <li><a href="/events.html" target="_self">Events</a></li>
              <li><a href="/workshops.html" target="_self">Workshops</a></li>
            </ul>

          </nav>
        </div>
      </div><!-- /row -->
  </div> <!-- /container -->
  </div><!-- /navigation slide-panel  -->
</div>
<!-- end slide panel parent-->
